name: Build Tweak

on:
  push:
    branches: [ main, master ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4 # v4 yaptık

      - name: Build Tweak
        uses: Randomblock1/theos-action@v1
        with:
          theos-sdks: 'https://github.com/theos/sdks'

      - name: Upload Dylib
        uses: actions/upload-artifact@v4 # İşte hata veren yer burasıydı, v4 yaptık
        with:
          name: DilSihirbazi-Dylib
          path: .theos/obj/debug/DilSihirbazi.dylib
