name: Build Tweak

on:
  push:
    branches: [ main, master ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Tweak
        uses: Randomblock1/theos-action@v1
        with:
          theos-sdks: 'https://github.com/theos/sdks'

      - name: Upload Everything
        uses: actions/upload-artifact@v4
        with:
          name: Tum-Dosyalar
          path: .  # Tüm dizini paketle ki kaçamasın
